.container {
  background-image: url("/Leafym.svg");
  background-size: cover;
  height: 80rem;
}

.navItem {
  display: none;
}

.navContainer {
  background-color: #F4EDE5;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  text-align: right;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: 1px solid #E0C6AC;
}

.mobileNavBar {
  top: 1.65rem; 
 right: 30px;
 position: absolute;
}

.mobileNavBarLinkContainer {
  height: 8rem;
  width: 100%;
  background-color: #E0C6AC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.3rem;
  position: absolute;
  text-align: center;
  font-size: large;
}

.mobileNavBarLink {
  color: #2C1D02;
}

.mobileNavBarLink:active {
  text-decoration: wavy underline #2C1D02;
}
  

.content {
  margin-top: 0;
  padding-top: 2rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.button {
  margin-top: 1.3rem;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  padding: 0.6rem;
  background-color: #C3D2BB;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}

.button:hover {
  background-color: #90b290;
  color: black;
}


.paragraph {
  font-size: 1rem;
  font-weight: 200;
}

.second {
  margin-top: 6rem;
}

.header {
  color: #1F331A;
  font-size: 1.5rem;
  margin-top: 0.3rem;
}

.profile {
  transition: all 0.3s;
  justify-content: center;
  padding-top: 1rem;
}


.profileContainer {
text-align: center;
}


.profile img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #ffffff;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}


.profile .name {
  position: absolute;
  background-color: #10996d;
  color: #fff;
  font-family: "arial";
  padding: 10px 10px;
  border-radius: 100px;
  bottom: -40px;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 15px;
  opacity: 0;
  transition: all 0.3s;
}

.profile .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #10996d;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover+.name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}


 @media (min-width: 760px) {
  .container {
    width: 100%;
    background-image: url("/Leafy.svg");
    background-size: cover;
    height: 70rem;
    }
  .navItem {
    display: flex;
    padding: 1rem;
    margin-left: 2rem;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .navItem:hover {
  text-decoration: underline #8a0a0a;
  animation: pulse;
  animation-timing-function: ease-in-out;
  }
  .navContainer {
    padding-left: 1.5rem;
  }
  .mobileNavBar {
    display: none;
    }
  .content {
    padding-top: 5rem;
    width: 50%;
  }

  .paragraph {
    font-size: 1.3rem;

  }
  .header {
    font-size: 2rem;
  }

  .button {
    width: 40%;
  }

  .profileContainer {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  .profile:hover {
    transform: translateY(-25px);
  }
 }






.footer {
  background-color: #152211;
  padding: 6rem;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #EEFFEA;
        }



.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
