

.container {
  background-image: url("/Leafym.svg");
  background-size: cover;
  height: 220rem;
}


 @media (min-width: 1000px) {
  .container {
    width: 100%;
      background-image: url("/Leafy.svg");
      background-size: cover;
    }
 }


.content {
  margin-top: 8rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.paragraph {
  font-size: 1.3rem;
  font-weight: 200;
}

.second {
  margin-top: 6rem;
}

.header {
  color: #1F331A;
  font-size: 2rem;
  margin-top: 0.3rem;
}


/* 
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
